<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miko Hub</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="{% static "modal.css" %}">
</head>
<body>
    <header>
        <div class="logo"><a href="/">Miko</a></div>
        <div class="search-bar">
            <form action="" method="get">
                <input name="search" type="text">
            </form>
        </div>
        <a href="shift_end" class="se_btn">
            Итог смены
        </a>
    </header>
    <div class="pallete">
        {% block content %}{% endblock content %}
        {% for order in orders  %}
            {% include "order_block.html" with order=order %}
        {% endfor %}
        <a href="/new_order" style="display: block; text-decoration: none;">
            <div class="blank-order">
                <div class="blank-cross">+</div>
                <span>Добавить стол</span>
            </div>
        </a>
    </div>
</body>
</html>