@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@400&display=swap');

:root {
    --space-cadet: #22223bff;
    --ultra-violet: #4a4e69ff;
    --rose-quartz: #9a8c98ff;
    --pale-dogwood: #c9ada7ff;
    --pale-dogwood-blank: rgb(229, 205, 199);
    --isabelline: #f2e9e4ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--space-cadet);
}

button {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--isabelline);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pale-dogwood);
    padding: 1rem;
}

td:nth-child(3) {
    text-align: center;
}

.logo {
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    color: var(--space-cadet);
    font-weight: 400;
    font-style: normal;
    margin-left: 1rem;
}

.search-bar {
    height: auto;
    width: 20rem;
}

.search-bar > form {
    display: block;
}


.search-bar > form > input {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    border-radius: 0.5rem;
    border: 2px solid rgb(148, 123, 117) !important;
    background: transparent;
    border: none;
}
/* pallet style */

.pallete {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;

    padding: 1rem;
}


.order {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;

    background-color: var(--pale-dogwood);
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    border-radius: 0.5rem;
    opacity: 0.7;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
}

.order:hover {
    transition: 0.5s;
    opacity: 1;
}

.blank-order {
    background-color: var(--pale-dogwood-blank);
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    border-radius: 0.5rem;
    opacity: 0.7;
    transition: 0.5s;
    text-align: center;
    cursor: pointer;
}

.blank-order:hover {
    transition: 0.5s;
    opacity: 1;
}

.blank-cross {
    width: 100%;
    font-size: 10rem;
}

.order-header {
    display: flex;
    height: 2.3rem;
    width: 100%;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--rose-quartz);
    border-radius: 0.5rem 0.5rem 0 0;
}

.order-table {
    height: 100%;
    padding-top: 0.1rem;
    text-align: center;
}

.order-status {
    padding: 0.1rem 0.6rem;
    border-radius: 0.5rem;
    background-color: yellowgreen;

}

.green {
    background-color: yellowgreen !important; 
}

.blue {
    background-color: aqua !important;
}

.red {
    background-color: rgba(230, 45, 45, 0.63) !important;
}

.order-total-price {
    height: 1.4rem;
    margin: 0.7rem;
    padding-top: 0.2rem;
    text-align: end;
    border-top: black 1px solid;
}

.order-items {
    padding: 0.9rem;
    padding-top: 0.7rem;

    overflow: hidden;
    text-overflow: ellipsis;
}

.order-items > ul > li {
    display: flex;
    justify-content: space-between;
}

li > span {
    width: 100%;
    height: 2rem;
}

.wrapper {
    display: inline-block;
    text-decoration: none;
}

/* Shift end style */

.se_btn {
    border-radius: 0.5rem;
    border: 2px solid rgb(148, 123, 117);
    padding: 0.4rem 1.4rem;
    transition: 0.5s;
}

.se_btn:hover {
    color: whitesmoke;
    background-color: rgb(148, 123, 117);
    transition: 0.5s;
}

.shift-end {

    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    font-family: Arial, sans-serif;


    flex-basis: 50%;
    width: 100%;
    padding: 0.5rem;
    gap:2
}

.se_logo {
    font-size: 2.4rem;
    height: 25%;
    text-align: center;
    width: 100%;
}

.se_underlogo {
    font-size: 1.4rem;
}

.se_sum {
    font-size: 4rem;
    text-align: center;
    margin-top: 2.5rem;
    width: 100%;
    flex-grow: 2;
}